<div class="song-card-container">
    <div class="song-card" data-cancion-id="{{ cancion.id }}" data-cancion-titulo="{{ cancion.titulo }}" onclick="reproducirCancionIndividual(this)">
        <img src="{{ asset('imagenes/' ~ cancion.albumImagen) }}" alt="Portada {{ cancion.titulo }}">
        <div class="song-info">
            <h3>{{ cancion.titulo }}</h3>
            <p><strong>Artista:</strong> {{ cancion.autor }}</p>
            <p><strong>Álbum:</strong> {{ cancion.album }}</p>
            <p><strong>Género:</strong> {{ cancion.genero ? cancion.genero.nombre : 'Desconocido' }}</p>
            <p><strong>Año:</strong> {{ cancion.anio }}</p>
            <a href="{{ path('cancion_ver_cancion', {id: cancion.id}) }}" class="detalle-link">Detalles</a>
        </div>
    </div>
</div>
